asgiref==3.8.1
asttokens==2.4.1
certifi==2024.8.30
charset-normalizer==3.4.0
colorama==0.4.6
decorator==5.1.1
Django==4.2.7
django-cors-headers==4.6.0
django-environ==0.11.2
django-extensions==3.2.3
django-seed==0.3.1
djangorestframework==3.14.0
dnspython==2.7.0
environ==1.0
exceptiongroup==1.2.2
executing==2.1.0
Faker==13.3.4
idna==3.10
ipython==8.18.1
jedi==0.19.1
matplotlib-inline==0.1.7
numpy==2.0.2
pandas==2.2.3
parso==0.8.4
pillow==10.4.0
prompt_toolkit==3.0.47
psycopg2==2.9.3
pure_eval==0.2.3
Pygments==2.18.0
pymongo==4.10.1
python-dateutil==2.8.2
pytz==2022.1
requests==2.32.3
six==1.16.0
sqlparse==0.4.2
stack-data==0.6.3
toposort==1.7
traitlets==5.14.3
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.3
wcwidth==0.2.13
